* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #3d90ef;
  --bg-color: rgb(224, 226, 232);
  --hover: rgb(95, 161, 236);
  --text-color: #222;
  --white-bg: #fafafa;
  scroll-behavior: smooth;
}
body {
  background: var(--white-bg);
  color: var(--text-color);
  font-family: "Poppins";
  overflow-x: hidden;
  font-weight: 400;
}
a {
  color: var(--primary-color);
}

input,
textarea {
  border: 1px solid #a3a2a2;
  transition: 0.5s;
}
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
main.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  overflow-x: hidden;
  flex-wrap: wrap;
  height: calc(100vh - 70px);
}
main.align-top {
  align-items: stretch;
}
section.signup-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  max-width: 650px;
  padding: 2.6rem 0;
  order: 2;
}
.signup-text h3 {
  margin-bottom: 0.5rem;
}
.signup-text p {
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  font-size: 0.9rem;
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.flex-form-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.sm-grp {
  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  height: 45px;
  margin: 0.4rem 0;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: transparent;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.pwd-wrap {
  position: relative;
  height: auto;
  width: auto;
}
.view-pwd {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  padding: 0.75rem 0.6rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  border-left: 1px solid var(--grey);
  background-color: transparent;
  border-radius: 0 8px 8px 0;
}
#TnC {
  color: var(--text-color);
}
.view-pwd:focus {
  box-shadow: none;
}

label {
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.4s;
  transform: scaleY(0);
  transform-origin: bottom;
  position: relative;
}
#TnC {
  transform: scale(1);
}
input::placeholder,
textarea::placeholder {
  color: #5a5a5a;
  transition: 0.4s;
  font-family: "Poppins";
}

input:focus::placeholder,
textarea:focus::placeholder {
  transform: translateY(-50px);
  color: var(--primary-color);
  display: none !important;
}

input:focus + label,
.pwd-wrap input:active ~ label,
textarea:focus + label {
  color: var(--primary-color);
  transform: scaleY(1);
}
.bottom-text {
  text-align: center;
}
.bottom-text a {
  color: var(--primary-color);
}
#forgetpwd {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.img-wrap {
  width: 90%;
  max-width: 650px;
  height: 70vh;
  min-height: 400px;
  background: url("../../images/signup-img.png") center center no-repeat;
  background-size: 100% 100%;
  color: white;
  /* margin: auto; */
  text-align: center;
  order: 1;
  border-radius: 10px;
  position: relative;
}
.inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 55%;
  max-height: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-wrap h1 {
  font-size: 2rem;
  font-weight: 600;
}
.inner-wrap p {
  font-weight: 500;
}
.btn-tp {
  background: transparent;
  border: 1px solid white;
}
@media screen and (min-width: 1000px) {
  /*   .logo-text {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  } */
  .sm-grp {
    width: 45%;
  }
  section.signup-wrap,
  .img-wrap {
    width: 50%;
    max-width: none;
  }
  .img-wrap {
    order: 2;
    z-index: 0;
    height: calc(100vh - 72px);
    position: sticky;
    top: 0;
    min-height: 400px;
  }
  section.signup-wrap {
    order: 1;
    padding: 1rem 2.5rem 1rem 3rem;
  }
  .inner-wrap h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .inner-wrap {
    height: 35%;
    top: 50%;
  }
}
.signup-wrap .btn {
  width: 100%;
}
.google-sign-in {
  color: var(--text-color);
  font-weight: 500;
  background-color: transparent !important;
  border-color: var(--input-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-sign-in img {
  transform: scale(0.8);
}

.abcRioButtonLightBlue {
  background-color: transparent !important;
  color: var(--text-color);
  width: 100% !important;
  height: 45px !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  border: 1px solid var(--text-color);
}
.abcRioButtonContentWrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#forgetpwd {
  text-align: center;
}
