@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --logo-color: #3d90effc;
  --logo-font-family: "Open Sans", sans-serif;
  --logo-size: 36px;
  --logo-line-height: 49px;
  --body-font-family: "Poppins" sans-serif;
}

.text-poppins {
  font-family: var(--body-font-family);
}

.text-sans {
  font-family: var(--logo-font-family);
}

.text-montserrat {
  font-family: "Averta-Regular ☞";
}
