* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #3d90ef;
  --bg-color: rgb(224, 226, 232);
  --hover: rgb(95, 161, 236);
  --text-color: #222;
  --white-bg: #fafafa;
  scroll-behavior: smooth;
}
body {
  background: var(--white-bg);
  color: var(--text-color);
  font-family: "Poppins";
  overflow-x: hidden;
  font-weight: 400;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  text-align: center;
  padding: 1rem 0rem;
  position: relative;
}
main h1 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 1.5rem auto;
}
.about-img {
  width: 80%;
  max-width: 300px;
  height: 300px;
}

.about-text {
  font-size: 0.95rem;
  margin: 1.3rem auto;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  main {
    height: 80vh;
    padding: 1rem 2rem;
    width: 80vw;
  }
}
