* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

.flex h2 {
  font-size: 2.3rem;
  font-weight: 500;
}
.flex div p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #3d90ef;
}
.red {
  color: #ef5261;
}
.green {
  color: #62c97b;
}
.yellow {
  color: #f6c863;
}
* {
  margin: 0px;
  padding: 0px;
}

/*margin: 12px 17px 12px 21px;*/

.menu div.consultation a {
  color: #3d90ef;
}

.menu div.dashicon {
  background: #3d90ef;
}
.menu div.forum a {
  color: #3d90ef;
}
.menu div.forum {
  background-color: #ffffff;
  background: #ffffff;
  height: 40px;
  border-radius: 8px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 65px;
  padding-top: 10px;
}
.flex div {
  border-radius: 10px;
  width: 48%;
  padding: 1rem;
  background: white;
  margin: 0.5rem 0;
}
.flex div.red {
  flex-grow: 0;
}
.flex {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
}

@media (min-width: 760px) {
  .flex {
    border-radius: 15px;
    flex-wrap: nowrap;
  }
  .flex div {
    width: 200px;
    border-radius: 0;
    border-right: 1px solid #bdbdbd;
  }

  .flex div.red {
    flex-grow: 2;
  }
  .flex div:last-child {
    border: none;
    border-radius: 0 10px 10px 0;
  }
  .flex div:first-child {
    border-radius: 10px 0 0 10px;
  }
}

.table-wrap {
  overflow-x: auto;
  padding-top: 7.5rem;
  margin-top: 1rem;
  transform: rotateX(180deg);
  white-space: nowrap;
}
#forumList {
  padding-top: 4rem;
}
.table-wrap table {
  transform: rotateX(180deg);
}
table {
  min-width: 800px;
  /* overflow-x: auto; */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-size: 15px;
}
thead tr.row {
  background: none;
}
thead tr th {
  border-bottom: 1px solid var(--input-border);
  border-top: 1px solid var(--input-border);
  font-weight: 400;
  color: var(--grey);
}
td,
th {
  padding: 0 1rem;
}
th {
  text-align: left;
}
th:last-child {
  text-align: right;
}
tr td:first-child {
  border-radius: 10px 0 0 10px;
}
tr td:last-child {
  border-radius: 0 10px 10px 0;
}
/* .consult tr td:last-child,
.consult tr th:last-child {
  padding-left: 2rem;
} */
table .row {
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  padding: 0.6rem;
}
.text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text-wrap p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #3d90ef;
}

.info,
.info > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  border-top: 1px solid var(--input-border);
  border-bottom: 1px solid var(--input-border);
}
.info > div {
  width: max-content;
  border: none;
}
.info svg,
.info p {
  margin: 0 0.5rem;
}
.info h3 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1rem;
}
