.main {
  flex-direction: column;
}
.main-discussion {
  max-width: none;
}

.main-discussion,
.btn.submit-reply {
  margin-right: 0;
}

.btn-group {
  display: flex;
  flex-direction: column;
  width: 94%;
  gap: 0;
}
.btn-cancel {
  margin-top: 0rem !important;
}
.form-group {
  height: 50px;
}
textarea {
  width: 94%;
}
.top-search {
  flex-direction: column;
  align-items: stretch;
}
.comments,
.main .aside,
.left {
  width: 100%;
  justify-content: flex-start;
}
.left {
  margin-left: 0;
}

.popular .topic-child {
  justify-content: space-between;
}
.topic-child,
.un-topic-child {
  margin-bottom: 0.8rem;
}

.tag {
  font-size: 1.3rem;
}
.hr {
  padding: 0.5px;
}
.wrapper {
  width: 100%;
}
.topics-card {
  font-size: 12px;
  flex-wrap: wrap;
  padding: 0.8rem;
}
.topics-card h2 {
  font-size: 1.1rem;
}
.topics-card img {
  width: 70px;
  height: 70px;
  margin: 0 0.6rem;
}
.stat-info {
  font-size: 1rem;
  border-left: none;
  border-top: 1px solid var(--grey);
  padding-top: 1rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.stat-info p {
  padding: 10px;
}
.stat-info .cm-icon,
.stat-info .views {
  margin: 0 0.4rem;
}
.stat-info hr {
  display: none;
}
@media (max-width: 340px) {
  .topics-card h2 {
    font-size: 15px;
  }
  .topics-card img {
    width: 50px;
    height: 50px;
  }
}
