/* presets and css variables are in nav and footer css */

a {
  color: var(--text-color);
  transition: 0.4s;
}
/* a:hover {
  color: var(--primary-color);
} */
button {
  cursor: pointer;
  font-family: "Poppins";
}
button:focus {
  outline: none;
}
.btn-group {
  display: flex;
}

form,
input[type="search"] {
  flex-grow: 2;
}

/* pop-up */

.category-placeholder {
  color: var(--grey);
  margin: 1rem 0;
}
.category-wrap {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid var(--input-border);
}

.discuss-pop-up input[type="radio"] {
  height: 17px;
  width: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  outline: none;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  background: white;
  position: relative;
}

.discuss-pop-up input[type="radio"]:checked {
  background: var(--primary-color);
}
#comment-clone {
  display: none;
}
.discuss-pop-up input[type="radio"]:checked::before {
  content: "\2713";
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discuss-pop-up label {
  cursor: pointer;
}

.discuss-pop-up .form-control-group {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.discuss-pop-up input[type="text"] {
  width: 100%;
  height: 45px;
  padding: 0.8rem;
  border-radius: 8px;
  margin: 1rem 0;
  border: 1px solid var(--input-border);
}
.discuss-pop-up input[type="text"]:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.discuss-pop-up textarea {
  width: 100%;
}

main {
  width: 90vw;
  max-width: 1100px;
  margin: 1rem auto;
}
.top-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem auto 2rem auto;
  width: 100%;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.form-group input {
  height: 100%;
  background-color: white;
  border: 1px solid var(--input-border);
  border-radius: 10px 0 0 10px;
  padding: 5px 10px;
}
::-webkit-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::-moz-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
:-ms-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::-ms-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
.form-group button {
  border-radius: 0 10px 10px 0;
  width: 50px;
  height: 100%;
  color: white;
  background-color: var(--primary-color);
  border: none;
  font-size: 1.1rem;
}

/* top-search left */
.left {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.profile-pic,
.unanswered img,
.comments img {
  height: 25px;
  width: 25px;
}
.left .profile-pic {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.left button {
  background-color: transparent;
  color: black;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  border: none;
}
.left button img {
  height: 0.9rem;
  width: 0.9rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

/* main */
.main {
  display: flex;
  font-size: 14.5px;
}

.breadcrumb-link {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
}
a.breadcrumb-link:hover {
  text-decoration: underline;
}
/* thread wrap */
.thread-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.thread-wrap img {
  width: 40px;
  height: 40px;
}

.closed-topic {
  color: #f81515;
  background-color: rgba(241, 153, 153, 0.705);
  border: 1px solid #f81515;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  font-size: 13px;
}
.closed-topic a {
  color: #f81515;
  font-weight: bold;
  text-decoration: underline;
}
/* main-question */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.user.info {
  justify-content: space-between;
}
.time-posted {
  color: var(--grey);
  font-size: 0.7rem;
}
.info input[type="checkbox"] {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.info button i,
.info label i {
  margin: 0 !important;
  color: #7a7a7a;
}
.info .liked {
  color: var(--primary-color);
}
.info .liked i {
  color: var(--primary-color);
}
.info .left-wrap {
  display: flex;
  justify-content: flex-start;
  width: max-content;
}
.flag.btn {
  color: red;
  background-color: transparent;
  border: 1px solid red;
  display: flex;
  align-items: center;
  margin: 0 !important;
  font-size: 13px;
  padding: 0.2rem 0.5rem;
  height: max-content;
}
.flag.btn:hover {
  background-color: transparent;
}
.info i.fa-flag {
  color: red;
  margin: 0 0.5rem !important;
}
/* comment box */
.comment-box-wrap .btn {
  margin: 1rem 0;
}
textarea {
  border: 1px solid var(--input-border);
  transition: 0.5s;
  width: 80%;
  height: 200px;
  resize: none;
  border-radius: 10px;
  padding: 0.8rem 0.6rem;
}

/* commentsss */
.comments {
  margin: 1rem 0;
  width: 80%;
}
.comments textarea {
  width: 95%;
}
.comments .first-level-comment {
  position: relative;
  padding-bottom: 1rem;
}
.unanswered .loader {
  width: 100%;
}
.loader {
  height: max-content;
  display: none;
  padding: 1rem;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.loader .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--primary-color) transparent;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* 2021-02-18T09:19:33.820Z 2021-02-18T05:00:25.773Z */
.comments .first-level-comment::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 1.15rem;
  z-index: -1;
  padding: 0 0.5px;
  background-color: var(--grey);
}
.comments .first-level-comment:last-child::after {
  display: none;
}
.info button,
.info label {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}
.left #signup {
  padding: 0.45rem 1rem !important;
  margin: 0 1rem;
  display: none;
  height: auto;
  margin-left: 0;
  font-size: 0.85rem;
}
.st-discuss,
.info button,
.info label {
  padding: 0.5rem;
}
.st-discuss {
  background-color: rgba(120, 121, 122, 0.158) !important;
}
.st-discuss:hover,
.info button:hover,
.info label:hover {
  background-color: var(--input-border);
}
.info button:focus,
.info label:focus,
.form-group input:focus,
.form-group button:focus {
  box-shadow: none;
}
/* aside */
.main .aside {
  width: 35%;
}
.aside a {
  font-size: 13px;
  color: var(--text-color);
  margin: 0.4rem 0;
}
.topic-child a {
  margin: 0.4rem 0.3rem 0.4rem 0;
  flex-grow: 2;
}
.aside .topics h3 {
  color: var(--primary-color);
  font-weight: 600;
}
.topics .topic-child,
.stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.topics .topic-child,
.un-topic-child {
  border-bottom: 1px solid var(--input-border);
  margin: 0.5rem 0;
  justify-content: space-between;
}

.stat {
  font-size: 0.8rem;
}
.stat img,
button img,
input[type="radio"] {
  margin-right: 10px;
}

.text {
  width: 100%;
  padding-right: 1rem;
}

.unanswered .info *:not(img) {
  margin: 7px;
}

.left {
  margin: 20px;
}
.reply .stat {
  pointer-events: none;
  margin: 0 !important;
  padding: 0;
}
.reply:disabled,
.reply:disabled i,
input[type="checkbox"]:disabled ~ label,
input[type="checkbox"]:disabled ~ label i {
  color: var(--input-border);
  cursor: not-allowed;
}
.reply:disabled:hover,
input[type="checkbox"]:disabled ~ label:hover {
  background-color: transparent;
}
.reply .fas {
  font-size: 0.8rem;
  transform: translateY(2px);
}
.drop-down {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 10;
  width: max-content;
  min-width: 230px;
  padding: 0.3rem;
  background: white;
  word-wrap: none;
  transform: scale(0);
  transform-origin: top left;
  border-radius: 8px;
  box-shadow: 0px 20px 70px 0px #e0e0e0;
  /* box-shadow: 0 0 0 4px var(--text-color); */
  transition: transform 0.2s;
}
.drop-down .list {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  width: 100%;
  display: block;
  border-radius: 5px;
}
.wrap .drop-down {
  transform: scaleY(0) scaleX(1);
  transform-origin: top;
  top: 100%;
  border-radius: 0 0 8px 8px;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  min-width: none !important;
}
.rotate-drp-icon {
  transform: rotate(180deg);
}
.show-cat-drp-dw {
  transform: scaleY(1) scaleX(1) !important;
}
.list:hover {
  background: var(--input-border);
}
.drop-down button.list {
  margin-top: 0.5rem;
  text-align: left;
  border-top: 1px solid var(--input-border);
}
.drop-down-show {
  transform: scale(1) !important;
}

.left .profile,
.btn.submit-reply,
.text .info *,
.thread-wrap img {
  margin-right: 17px;
  position: relative;
}

.main-discussion {
  margin-right: 50px;
  flex-grow: 2;
  max-width: 67%;
}

/* unawsered topics */
.unanswered {
  font-size: 14px;
}
.un-text {
  font-size: 12px;
  color: grey;
  margin: 0.5rem 0;
}
.unanswered .info {
  font-size: 0.7rem;
}
.search-results .wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.search-results {
  padding: 1rem !important;
}
.search-results:hover,
.topics-card:hover {
  box-shadow: 0px 44px 100px 0px #dddddd;
}
.search-results .wrapper img {
  width: 50px;
  height: 50px;
  margin: 0 1rem 0 0;
}
.search-results .author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.search-results .forum-name {
  background: var(--bg-color);
  border-radius: 20px;
  color: white;
  padding: 0.4rem 1rem;
}
.search-results .bottom {
  width: 100%;
}
.search-results .bottom,
.search-results .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-results .stats,
.search-results .stat {
  justify-content: space-evenly;
  font-size: 0.9rem;
}
.stat i {
  font-size: 1.2rem;
}
.search-results .stat img {
  width: 1rem;
  border-radius: 0;
  height: 1rem;
  margin: 0 0.5rem 0 1rem;
}
.un-topic-child {
  margin: 0.9rem 0;
}
.un-topic-child a,
.topics-card .question {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  z-index: 10;
  color: #878787;
}

.stat img {
  width: 0.8rem;
  height: 0.8rem;
}

/* forums page style */
.wrap {
  width: 100%;
  position: relative;
}
.tag {
  background: var(--primary-color);
  color: white;
  padding: 0.7rem 0.7rem 0.4rem 0.7rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-weight: 400;
}
.tag i {
  transition: 0.3s;
}
.hr {
  padding: 1.3px;
  background: var(--primary-color);
  width: 100%;
  margin-bottom: 1rem;
}
.topics-card {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  margin: 1rem auto;
}
.topics-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 1.4rem;
}
.stat-info {
  width: 150px;
  text-align: center;
  color: var(--primary-color);
  border-left: 1px solid var(--grey);
  height: 100%;
}
.stat-info p {
  padding: 7px;
}
.stat-info hr {
  background-color: var(--grey);
}
.stat-info .cm-icon {
  background: url("../../../images/comment_chat.svg") no-repeat center center;
  background-size: 100% 100%;
  color: white;
  margin-bottom: 0.5rem;
}
.topics-card h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.ct-topic-child,
.topics-card,
.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}
.ct-topic-child .num {
  background-color: rgba(61, 144, 239, 0.5);
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 20px;
}

.topics {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: auto;
  max-height: 70vh;
  overflow-y: auto;
}

#categories h3 {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--grey);
}
