/* presets and css variables are in nav and footer css */
:root {
  --input-border: #e6e6e6;
  --grey: #aaaaaa;
}
a {
  color: var(--text-color);
  transition: 0.4s;
}
/* a:hover {
  color: var(--primary-color);
} */
button {
  cursor: pointer;
  font-family: "Poppins";
}
button:focus {
  outline: none;
}
.btn-group {
  display: flex;
}
.btn.btn-cancel {
  background-color: var(--input-border);
  color: #cf0808;
}
form,
input[type="search"] {
  flex-grow: 2;
}

/* pop-up */
.discuss-pop-up .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.category-placeholder {
  color: var(--grey);
  margin: 1rem 0;
}
.category-wrap {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid var(--input-border);
}

.discuss-pop-up input[type="radio"] {
  height: 17px;
  width: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  outline: none;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  background: white;
  position: relative;
}

.discuss-pop-up input[type="radio"]:checked {
  background: var(--primary-color);
}
#reply-comment-wrap {
  display: none !important;
}

.discuss-pop-up input[type="radio"]:checked::before {
  content: "\2713";
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discuss-pop-up label {
  cursor: pointer;
}
.discuss-pop-up .btns button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.discuss-pop-up .btns button:hover,
.discuss-pop-up .btns button:focus {
  background: var(--input-border);
}
.discuss-pop-up .form-control-group {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.discuss-pop-up input[type="text"] {
  width: 100%;
  height: 45px;
  padding: 0.8rem;
  border-radius: 8px;
  margin: 1rem 0;
  border: 1px solid var(--input-border);
}
.discuss-pop-up input[type="text"]:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.discuss-pop-up textarea {
  width: 100%;
}

main {
  width: 90vw;
  max-width: 1100px;
  margin: 1rem auto;
}
.top-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem auto 2rem auto;
  width: 100%;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.form-group input {
  height: 100%;
  background-color: white;
  border: 1px solid var(--input-border);
  border-radius: 10px 0 0 10px;
  padding: 5px 10px;
}
::-webkit-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::-moz-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
:-ms-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::-ms-input-placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
::placeholder {
  color: var(--grey);
  font-family: "Poppins";
}
.form-group button {
  border-radius: 0 10px 10px 0;
  width: 50px;
  height: 100%;
  color: white;
  background-color: var(--primary-color);
  border: none;
  font-size: 1.1rem;
}

/* top-search left */
.left {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.profile-pic,
.unanswered img,
.comments img {
  height: 25px;
  width: 25px;
}
.left button {
  background-color: transparent;
  color: black;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  border: none;
}
.left button img {
  height: 0.9rem;
  width: 0.9rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

/* main */
.main {
  display: flex;
  font-size: 14.5px;
}

.breadcrumb-link {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
}

/* thread wrap */
.thread-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.thread-wrap img {
  width: 40px;
  height: 40px;
}

/* main-question */
.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.3rem;
}
.info .time-posted {
  color: var(--grey);
  font-size: 0.7rem;
}

.info button i {
  margin: 0 !important;
  color: #7a7a7a;
}
.info .liked {
  color: var(--primary-color);
}
.info .liked i {
  color: var(--primary-color);
}

/* comment box */
.comment-box-wrap .btn {
  margin: 1rem 0;
}
textarea {
  border: 1px solid var(--input-border);
  transition: 0.5s;
  width: 80%;
  height: 200px;
  resize: none;
  border-radius: 10px;
  padding: 0.8rem 0.6rem;
}

/* commentsss */
.comments {
  margin: 1rem 0;
  width: 80%;
}
.comments textarea {
  width: 95%;
}
.comments .first-level-comment {
  position: relative;
  padding-bottom: 1rem;
}

.comments .first-level-comment::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 1.15rem;
  z-index: -1;
  padding: 0 0.5px;
  background-color: var(--grey);
}
.comments .first-level-comment:last-child::after {
  display: none;
}
.info button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.st-discuss,
.info button {
  padding: 0.5rem;
  /* background-color: rgba(120, 121, 122, 0.158) !important; */
}
.st-discuss:hover,
.info button:hover {
  background-color: var(--input-border);
}
.info button:focus,
.form-group input:focus,
.form-group button:focus {
  box-shadow: none;
}
/* aside */
.main .aside {
  width: 35%;
}
.aside a {
  font-size: 13px;
  color: var(--text-color);
  margin: 0.4rem 0;
}
.topic-child a {
  margin: 0.4rem 0.3rem 0.4rem 0;
}
.aside .topics h3 {
  color: var(--primary-color);
  font-weight: 600;
}
.topics .topic-child,
.stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stat {
  font-size: 0.8rem;
}
.stat img,
button img,
input[type="radio"] {
  margin-right: 10px;
}

.text {
  width: 100%;
}

.unanswered .info *:not(img) {
  margin: 7px;
}

.left {
  margin: 20px;
}
.left .profile,
.btn.submit-reply,
.text .info *,
.thread-wrap img {
  margin-right: 17px;
}

.main-discussion {
  margin-right: 50px;
  flex-grow: 3;
}

/* unawsered topics */
.unanswered {
  font-size: 14px;
}
.un-text {
  font-size: 12px;
  color: grey;
  margin: 0.5rem 0;
}
.unanswered .info {
  font-size: 0.7rem;
}

.un-topic-child {
  margin: 0.9rem 0;
}
.un-topic-child a,
.topics-card .question {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  z-index: 10;
  color: var(--text-color);
}

.stat img {
  width: 0.8rem;
  height: 0.8rem;
}

/* forums page style */
.wrap {
  width: 100%;
}
.tag {
  background: var(--primary-color);
  color: white;
  padding: 0.7rem 0.7rem 0.4rem 0.7rem;
  display: inline;
  text-align: left;
  font-weight: 400;
}
.hr {
  padding: 1.3px;
  background: var(--primary-color);
  margin-top: 4px;
  width: 100%;
  margin-bottom: 1rem;
}
.topics-card {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  margin: 1rem auto;
}
.topics-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 1.4rem;
}
.stat-info {
  width: 150px;
  text-align: center;
  color: var(--primary-color);
  border-left: 1px solid var(--grey);
  height: 100%;
}
.stat-info p {
  padding: 7px;
}
.stat-info hr {
  background-color: var(--grey);
}
.stat-info .cm-icon {
  background: url("../../../images/comment_chat.svg") no-repeat center center;
  background-size: 100% 100%;
  color: white;
  margin-bottom: 0.5rem;
}
.topics-card h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.ct-topic-child,
.topics-card,
.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}
.ct-topic-child .num {
  background-color: rgba(61, 144, 239, 0.5);
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 20px;
}

.topics {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 40vh;
  max-height: 70vh;
  overflow-y: auto;
}

#categories h3 {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--grey);
}
