<!DOCTYPE html>
<html>
  <head>
    <title>Erudite Dashboard | Forum</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://res.cloudinary.com/tomiwadev/image/upload/v1613560587/erudite/logo-blue_zro7g4.png"
      type="image/x-icon"
    />
    <link rel="canonical" href="https://erudite.ng" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Erudite is an educational platform made up of experts dedicated to guiding post-secondary school students towards academic success."
    />
    <meta
      property="og:title"
      content="Erudite - Your guide to academic success"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://erudite.ng" />
    <meta property="og:image" content="../images/mockup.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@eruditeng_" />
    <meta name="twitter:creator" content="@eruditeng_" />
    <meta name="twitter:image" content="../images/mockup.png" />
    <meta name="twitter:title" content="Erudite" />
    <meta
      name="twitter:description"
      content="Erudite is an educational platform made up of experts dedicated to guiding post-secondary school students towards academic success."
    />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DZJNBS94DN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DZJNBS94DN");
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="../css/index.css" type="text/css" rel="stylesheet" />
    <link href="../css/forum.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/sidebar.css" />
  </head>

  <body>
    <div class="pre-loader">
      <div id="wrap">
        <img
          src="https://res.cloudinary.com/tomiwadev/image/upload/v1613560587/erudite/logo-blue_zro7g4.png"
          alt="logo"
        />
        <div class="circle"></div>
      </div>
    </div>
    <div class="overlay"></div>
    <form id="create-category" class="discuss-pop-up modal">
      <div class="btns">
        <button class="close-msg" type="reset" style="color: red">Close</button>
        <button type="submit" id="post-msg" style="color: #3d90ef">Post</button>
      </div>

      <div class="add-categories">
        <input type="text" placeholder="Category Title" required id="title" />
      </div>
    </form>

    <!--this is for the menu bar on desktop-->
    <nav class="menu">
      <i class="fa fa-times"></i>
      <div class="logo">
        <img src="../assets/gradcap.png" class="gradcap" />
      </div>
      <ul class="nav-links">
        <li>
          <a class="link" href="../index.html">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="inherit"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="9.52381" height="14" rx="2" fill="inherit" />
              <rect
                x="10.4761"
                width="9.52381"
                height="5"
                rx="2"
                fill="inherit"
              />
              <rect y="15" width="9.52381" height="5" rx="2" fill="inherit" />
              <rect
                x="10.4761"
                y="6"
                width="9.52381"
                height="14"
                rx="2"
                fill="inherit"
              />
            </svg>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a class="link active" href="./forum.html"
            ><svg
              width="21"
              height="20"
              viewBox="0 0 21 20"
              fill="inherit"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.0818 16.5854L13.1966 18.994C12.7962 19.5055 12.022 19.5055 11.6216 18.994L9.73636 16.5854H4.77273C4.51957 16.5854 4.27677 16.4826 4.09776 16.2996C3.91875 16.1167 3.81818 15.8685 3.81818 15.6098V4.97854C3.81818 4.71979 3.91875 4.47164 4.09776 4.28868C4.27677 4.10571 4.51957 4.00293 4.77273 4.00293H20.0455C20.2986 4.00293 20.5414 4.10571 20.7204 4.28868C20.8994 4.47164 21 4.71979 21 4.97854V15.6098C21 15.8685 20.8994 16.1167 20.7204 16.2996C20.5414 16.4826 20.2986 16.5854 20.0455 16.5854H15.0818ZM0.954545 0H16.2062C16.745 0 17.1818 0.436796 17.1818 0.97561C17.1818 1.51442 16.745 1.95122 16.2062 1.95122H1.90909V11.7284C1.90909 12.2556 1.48173 12.6829 0.954545 12.6829C0.427364 12.6829 0 12.2556 0 11.7284V0.97561C0 0.716862 0.100568 0.468712 0.27958 0.285749C0.458592 0.102787 0.701384 0 0.954545 0Z"
                fill="inherit"
              />
            </svg>
            <span>Forum</span></a
          >
        </li>
        <li>
          <a class="link" href="./user.html">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="inherit"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="10.001"
                cy="5"
                r="5"
                fill="inherit"
                fill-opacity="0.99"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.9781 20C19.9926 19.8347 20 19.668 20 19.5C20 15.3579 15.5228 12 10 12C4.47715 12 0 15.3579 0 19.5C0 19.668 0.00736624 19.8347 0.0218697 20H19.9781Z"
                fill="inherit"
                fill-opacity="0.99"
              />
            </svg>
            <span> Users </span></a
          >
        </li>
        <li>
          <a class="link" href="./consultation.html"
            ><svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="inherit"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.4629 13.2715C16.009 13.2715 14.8262 12.0887 14.8262 10.6348C14.8262 9.18088 16.009 7.99805 17.4629 7.99805C18.9168 7.99805 20.0996 9.18088 20.0996 10.6348C20.0996 12.0887 18.9168 13.2715 17.4629 13.2715Z"
                fill="inherit"
              />
              <path
                d="M22.3408 22.5H1.15918C0.795137 22.5 0.5 22.2049 0.5 21.8408V20.5225C0.5 20.1584 0.795137 19.8633 1.15918 19.8633H22.3408C22.7049 19.8633 23 20.1584 23 20.5225V21.8408C23 22.2049 22.7049 22.5 22.3408 22.5Z"
                fill="inherit"
              />
              <path
                d="M19.7344 13.8706C19.0912 14.3235 18.3076 14.5899 17.4629 14.5899C16.6182 14.5899 15.8346 14.3235 15.1914 13.8706C14.6148 14.1981 14.1155 14.6464 13.7275 15.1805V16.5674C13.7275 17.2516 13.3782 17.8556 12.8486 18.2108V18.545H22.0771V17.8858C22.0771 16.1668 21.1321 14.6645 19.7344 13.8706Z"
                fill="inherit"
              />
              <path
                d="M11.75 9.31641H1.20312C0.839082 9.31641 0.543945 9.61154 0.543945 9.97559V16.5674C0.543945 16.9314 0.839082 17.2266 1.20312 17.2266H4.24361L3.80416 18.5449H9.14892L8.70947 17.2266H11.75C12.114 17.2266 12.4092 16.9314 12.4092 16.5674V9.97559C12.4092 9.61154 12.114 9.31641 11.75 9.31641Z"
                fill="inherit"
              />
              <path
                d="M15.2656 0H5.59766C4.74956 0 4.05957 0.689985 4.05957 1.53809V5.05371C4.05957 5.90181 4.74956 6.5918 5.59766 6.5918H11.1109L13.5816 8.23891C13.6919 8.31243 13.8194 8.34961 13.9473 8.34961C14.054 8.34961 14.1608 8.32377 14.2583 8.27161C14.4726 8.15691 14.6064 7.93354 14.6064 7.69043V6.5918H15.2656C16.1137 6.5918 16.8037 5.90181 16.8037 5.05371V1.53809C16.8037 0.689985 16.1137 0 15.2656 0ZM13.5078 3.95508H7.35547C6.99143 3.95508 6.69629 3.65994 6.69629 3.2959C6.69629 2.93186 6.99143 2.63672 7.35547 2.63672H13.5078C13.8719 2.63672 14.167 2.93186 14.167 3.2959C14.167 3.65994 13.8719 3.95508 13.5078 3.95508Z"
                fill="inherit"
              />
            </svg>
            <span>Consultation</span></a
          >
        </li>
        <li class="logout">
          <button type="button" id="sign-out" class="link btn">
            <svg
              width="22"
              height="21"
              viewBox="0 0 22 21"
              fill="inherit"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="M4.99902 2C2.57069 3.82446 1 6.7288 1 10C1 15.5228 5.47715 20 11 20C16.5228 20 21 15.5228 21 10C21 6.7288 19.4293 3.82446 17.001 2"
                  stroke="inherit"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="11.25"
                  y1="7.25"
                  x2="11.25"
                  y2="0.75"
                  stroke="inherit"
                  stroke-opacity="0.99"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
              </g>
            </svg>
            <span> Log Out </span>
          </button>
        </li>
      </ul>
    </nav>

    <main class="inner">
      <div class="wrap">
        <div class="left">
          <i class="fa fa-bars"></i>
          <div class="logo">
            <img src="../assets/gradcap.png" class="gradcap" />
          </div>
        </div>
        <div class="right">
          <p class="date">Fri Apr 16 2021</p>
          <i class="fa fa-search search 2x"></i>
          <div class="profile">
            <img
              src="https://res.cloudinary.com/tomiwadev/image/upload/v1612047488/erudite/Profile_pic_1_xlepwh.png"
              alt="profile"
              class="profile-pic"
            />

            <div class="drop-down">
              <a
                class="list"
                href="https://erudite.ng/registration/profile.html"
                >Profile</a
              >
              <a
                class="list"
                href="https://erudite.ng/registration/edit-profile.html"
                >Settings</a
              >
              <button class="create-category-btn list">
                Create a new category
              </button>
              <button
                id="sign-out"
                aria-label="Sign Out"
                class="list"
                type="button"
              >
                Log Out
              </button>
            </div>
          </div>
        </div>
      </div>
      <section class="flex">
        <div>
          <p>Total Topics</p>
          <h2 class="green totTopic">100</h2>
        </div>
        <div class="red">
          <p>Flagged Topics</p>
          <h2 class="red awaitMod">30</h2>
        </div>

        <div>
          <p>Total Users</p>
          <h2 class="yellow totUser">20</h2>
        </div>

        <div>
          <p>No of Forums</p>
          <h2 class="blue totForum">40</h2>
        </div>
      </section>

      <section class="table">
        <div class="text-wrap">
          <p id="forumName">Erudite Forum</p>
          <select class="select-cat">
            <option value="">Filter</option>
            <option value="flagged">Flagged</option>
            <option value="closed">Closed</option>
          </select>
        </div>
        <div class="table-wrap">
          <table>
            <thead>
              <tr class="row">
                <th>S/N</th>
                <th>Topics</th>
                <th>No. of comments</th>
                <th>Flagged</th>
                <th>Closed</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </section>
    </main>

    <section class="user">
      <div class="icon">
        <a href="./notification.html"
          ><img src="../assets/notification.png" class="icon notification"
        /></a>
        <a href="https://erudite.ng/registration/edit-profile.html"
          ><img src="../assets/settings.png" class="icon setting"
        /></a>
      </div>

      <img src="../assets/user.png" class="user" />
      <h1 class="userId2"></h1>
      <p>Admin</p>
      <h2>Admin Panel</h2>

      <button class="btn create-category-btn">Create a new category</button>
    </section>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/modal.js"></script>
    <script src="../scripts/dashboard.js"></script>
    <script src="../scripts/forum.js"></script>
  </body>
</html>
